.history{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.contain{
    width: 50%;
}

.child{
    padding: 0 1rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid brown;
    margin: 1rem ;
    overflow-x: auto;
}

.float{
    height: 70%;
    overflow-y: auto;
}



@media screen and (max-width : 800px){
    .contain{
        width: 100%;
    }
}